@media (max-width: 1150px) {
    .header-bottom {
        flex-direction: column;
        gap: 50px;
    }
    .header-left .contacts {
        flex-direction: row;
    }
    .we-do-title {
        margin: 0 auto;
        text-align: center;
    }
    .we-do-items {
        flex-direction: row;
        gap: 20px;
    }
    .about .box {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 20px;
    }
    .about-item:nth-last-child(2)::after {
        display: none;
    }
    .footer .box {
        flex-direction: column;
    }
    .inner-left {
        padding: 54px 0 0;
        flex-direction: column;
    }
    /* ----inner-page---- */
    .inner-header-bottom {
        flex-direction: column;
        gap: 50px;
    }
    /* ----modal---- */

    .modal {
        max-width: 504px;
        top: -1000px;
        margin: auto;
    }
    .modal-box {
        flex-direction: column;
    }
    .modal-right-close {
        width: 24px;
        height: 24px;
        top: 10px;
        left: 20px;
    }
    .close-svg {
        background-image: url(../svg/close-mob.svg);
    }
}
@media (max-width: 770px) {
    .logo {
        width: 550px;
        /* height: 112px; */
    }
    .header-center {
        padding-top: 100px;
    }
    .header-bottom {
        font-size: 16px;
    }
    .categories .box {
        width: 1435px;
        justify-content: flex-start;
    }
    .about-item {
        min-height: 0;
}
    .about-item::after {
        display: none;
    }
    .inner-right {
        font-size: 16px;
    }
    /* ----inner-page---- */
    .inner-header-bottom {
        font-size: 16px;
    }

}
@media (max-width: 570px) {
    .contains {
        padding: 0 16px;
    }
    header {
        background-image: url(../img/header-mob.png);
    }
    .header-center {
        padding-top: 66px;
        gap: 16px;
    }
    .logo {
        width: 162px;
        height: 30px;
    }
    .header-title {
        max-width: 260px;
    }
    .header-title h1 {
        font-size: 18px;
    }
    .header-bottom {
        gap: 41px;
        padding-bottom: 54px;
    }
    .header-left {
        padding-top: 33px;
    }
    .header-left .contacts {
        flex-direction: column;
        gap: 17px;
    }
    .we-do-items {
        flex-direction: column;
        gap: 14px;
        padding-left: 53px;
    }
    .category-item {
        width: 276px;
    }
    .inner-left {
        padding: 32px 0 0;
        gap: 16px;
    }
    .inner-right {
        padding: 49px 0 97px;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }
    /* ----inner-page---- */

    .header-inner-center {
        padding-top: 4px;
    }
    .header-inner-title {
        font-size: 36px;
        padding-bottom: 37px;
    }
    .inner-header-bottom {
        gap: 41px;
        padding-bottom: 54px;
    }
}
@media (max-width: 390px) {
    .breadcrumbs .text {
       display: none;
    }
    .header-bottom {
        align-items: flex-start;
    }
    .we-do-title {
        text-align: left; 
    }
    .we-do-items {
        padding-left: 0;
    }
    .categories .box {
        gap: 14px;
    }
    .catalog-pic img {
        width: 328px;
    }
    .footer .box {
        align-items: flex-start;
    }
    
    /* ----inner-page---- */
    .inner-header-bottom {
        align-items: flex-start;
    }
    /* ----modal---- */

    .modal {
        max-width: 360px;
    }
    .modal-box {
        padding: 84px 16px 28px;
        flex-direction: column;
        gap: 24px;
    }
    .modal-left {
        gap: 12px;
    }
    .modal-left-prev,
    .modal-box-prev-left {
        gap: 7px;
    }
    .modal-left-prev {
        width: 328px;
    }
    .modal-box-prev-left {
        flex-grow: 2;
    }
    .modal-left-pic {
        width: 328px;
        height: 262px;
    }
    .modal-left-pic img {
        width: 100%;
        height: auto;
    }
    .prev-item {
        width: 87px;
        height: 70px;
    }
    .prev-more {
        padding: 19px 7px;
    }
    .modal-right {
        gap: 24px;
    }
    .modal-right-title {
        max-width: 328px;
        font-size: 18px;
    }
    .modal-right-price {
        font-size: 24px;
    }
    .modal-right-description {
        max-width: 328px;
    }
    .modal-right-nanesenie {
        padding-top: 17px;
    }
    .modal-right-buttom {
        padding: 16px 122px;
    }
    .modal-right-close {
        width: 24px;
        height: 24px;
        top: 36px;
        left: 20px;
    }
    .close-svg {
        background-image: url(../svg/close-mob.svg);
    }
    /* ----modal-feedback---- */

    .modal-feedback,
    .modal-feedback-success {
        max-width: 360px;
    }
    .modal-feedback-box {
        padding: 38px 20px 28px;
        flex-direction: column;
        gap: 24px;
    }
    .modal-feedback-header {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;
        font-size: 17px;
        font-weight: 500;
    }
    .modal-feedback-body.success {
        padding: 150px 16px;
    }
    .success-text {
        width: 287px;
        font-size: 18px;
        font-weight: 600;
        text-align: center;
    }
    .modal-feedback-body input {
        font-size: 16px;
        font-weight: 400;
        padding: 16px 20px;
    }
    .modal-feedback-body textarea {
        font-size: 16px;
        font-weight: 400;
        padding: 16px 184px 83px 20px;
    }
    .modal-feedback-footer {
        padding-top: 143px;
    }
    .modal-feedback-close {
        position: initial;
        width: 24px;
        height: 24px;
    }
    .close-svg {
        background-image: url(../svg/close-mob.svg);
    }
}