:root {
    --color-brown: #703D2A;
    --color-beige: #F0CE9B;
    --color-black: #2C2624;
}
@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-SemiBold.ttf);
    font-weight: 600;
}
body {
    width: 100%;
    font-family: Inter;
}
.contains {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 8%;
    overflow: hidden;
}

/* ---header--- */

header {
    background-image: url(../img/header.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}
.header {
    display: flex;
    flex-direction: column;

}
.header-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 236px;
    gap: 20px;
}
.logo {
   width: 606px;
   height: 112px;
}
.logo img {
    width: 100%;
}
.header-title {
    max-width: 486px;
}
.header-title h1 {
    font-size: 28px;
    font-weight: 500;
    text-align: center;
}
.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 87px;
    font-size: 18px;
}
.header-left {
    padding-top: 40px;
    font-weight: 600;
}
.header-left .contacts {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.header-left .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
.tel-pic,
.insta-pic, 
.teleg-pic {
    width: 24px;
    height: 24px;
}
.tel-pic img,
.insta-pic img, 
.teleg-pic img {
    width: 100%;
}
.header-right {
    font-weight: 400;
}
.header-right .we-do {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.we-do-title {
    font-size: 20px;
    max-width: 283px;
    margin-top: -27px;
}
.we-do-items {
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.we-do .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}
.vishivka-pic {
    width: 27px;
    height: 25px;
}
.tisnenie-pic {
    width: 27px;
    height: 27px;
}
.gravirivka-pic {
    width: 26px;
    height: 26px;
}
.vishivka-pic img,
.tisnenie-pic img,
.gravirivka-pic img {
    width: 100%;
}
.header-contact {
    color: white;
}
/* -----categories----- */
.categories {
    padding-top: 56px;
}
.categories .box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    width: calc((100%-24px*3)/2);
}
.category-item {
    width: 268px;
    aspect-ratio: 2/1;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 50%, rgba(56, 33, 11, 0.60) 88.26%), lightgray 50% / cover no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    z-index: 0;
}
.category-item.one {
    background-image: url(../img/categories-one.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.category-item.two {
    background-image: url(../img/categories-two.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.category-item.three {
    background-image: url(../img/categories-three.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.category-item.four {
    background-image: url(../img/categories-four.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.category-item.five {
    background-image: url(../img/categories-five.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.category-item.six {
    background-image: url(../img/categories-six.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.category-item.seven {
    background-image: url(../img/categories-seven.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.category-item.eight {
    background-image: url(../img/categories-eight.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.category-title {
    color: white;
    padding: 0 24px 16px 24px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    z-index: 1;
}

/* -----about----- */

.about {
    padding-top: 68px;
}
.about .box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
}
.about-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    gap: 12px;
    width: calc(100%/3);
    min-height: 262px;
    min-width: 306px;
}
.about-circle {
    width: 80px;
    height: 80px;
    margin-bottom: 4px;
}
.about-circle .picture-one {
    background-image: url(../svg/circle01.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.about-circle .picture-two {
    background-image: url(../svg/circle02.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.about-circle .picture-three {
    background-image: url(../svg/circle03.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.about-title {
    max-width: 318px;
    font-size: 18px;
    font-weight: 500;
    color: var(--color-black);
}
.about-description {
    max-width: 318px;
    font-size: 15px;
    font-weight: 400;
    color: #646160;
}
.about-item::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 100%;
    background: rgba(212, 212, 212, 0.50);
    right: 0;
}
.about-item:last-child::after {
    display: none;
}

/* ------catalog------ */

.catalog {
    padding-top: 56px;
    padding-bottom: 64px;
}
.catalog .box {
    width: calc((100%-24px*2)/3);
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}
.catalog-item {
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}
.catalog-pic {
    width: 100%;
}
.catalog-pic img {
    border-radius: 12px;
    object-fit: cover;
}
.catalog-title {
    padding-top: 10px;
    max-width: 318px;
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
    color: var(--color-black);
    font-weight: 500;
}
.catalog-color {
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    color: #646160;
}
.catalog-price {
    padding-top: 2px;
    text-align: center;
    color: var(--color-brown);
    font-size: 22px;
    font-weight: 600;
}

/* ------footer------ */

footer {
    background-color: var(--color-black);
}
.footer {
    color: white;
}
.footer .box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.inner-left {
    padding: 54px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 23px;
}
.footer-logo {
    width: 175px;
    height: 32px;
}
.footer-logo img {
    width: 100%;
    height: 100%;
}
.footer-slogan {
    max-width: 200px;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
}
.inner-right {
    padding: 58px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    font-size: 18px;
    font-weight: 600;
}
.footer-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}
.footer-contact {
    color: white;
}

/* -----inner page -----*/

.header-inner-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 208px;
    gap: 20px;
}
.header-inner-title {
    max-width: 530px;
    padding-bottom: 112px;
}
.header-inner-title h1 {
    font-size: 64px;
    font-weight: 600;
    text-align: center;
}
.inner-header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 88px;
    font-size: 18px;
}
.header-top {
    padding-top: 40px;
}
.breadcrumbs {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
} 
.breadcrumbs .text {
    font-size: 18px;
    font-weight: 600;
}
.breadcrumbs-link {
    color: white;
}
.arrow {
    width: 24px;
    height: 24px;
}
.arrow-pic {
    background-image: url(../svg/arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
}

/* ----modal---- */

/* .modal-overlay {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}   */
.modal {
    position: absolute;
    background-color: white;
    border-radius: 24px;
    max-width: 976px;
    top: -800px;
    margin: auto;
    left: 0;
    right: 0;
    box-sizing: border-box;
    transition: .5s;
    z-index: 11;
}
.modal-box {
    position: relative;
    padding: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
}
.modal-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}
.modal-left-prev,
.modal-box-prev-left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}
.modal-left-prev {
    width: 424px;
}
.modal-box-prev-left {
    flex-grow: 2;
}
.modal-left-pic {
    width: 424px;
    height: 338px;
}
.modal-left-pic img {
    width: 100%;
    height: auto;
}
.prev-item {
    position: relative;
    width: 113px;
    height: 90px;
    cursor: pointer;
}
.prev-item::after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.40) 0%, rgba(255, 255, 255, 0.40) 100%), lightgray 0px -7.091px / 100% 122.318% no-repeat;
    opacity: 0.4;
}
.prev-item.active::after {
    display: none;
}
.prev-item img {
    width: 100%;
    height: auto;
}
.prev-more {
    padding: 29px 14px;
    border-radius: 12px;
    background: var(--color-beige);
}
.arrow-modal {
    width: 32px;
    height: 32px;
    cursor: pointer;
}
.arrow-modal .arrow {
    background-image: url(../svg/arrow-modal.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.modal-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 42px;
}
.modal-right-title {
    max-width: 393px;
    font-size: 22px;
    color: var(--color-black);
    font-weight: 600;
}
.modal-right-price {
    padding-top: 12px;
    font-size: 26px;
    font-weight: 600;
    color: var(--color-brown);
}
.params {
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}
.param {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 8px;
}
.modal-right-description {
    max-width: 412px;
    color: #646160;
    font-size: 16px;
    font-weight: 400;
}
.modal-right-nanesenie {
    padding-top: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
}
.checkbox {
    width: 20px;
    height: 20px;
}
.nanesenie-checkbox {
    display: flex;
}
.modal-right-buttom {
    background-color: var(--color-brown);
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    color: white;
    padding: 17px 156px;
}
.modal-right-close {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 32px;
    right: 32px;
}
.close-svg {
    background-image: url(../svg/close.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/* ----modal-feedback---- */

/* .modal-feedback-overlay,
.modal-feedback-overlay-success {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}   */
.modal-feedback,
.modal-feedback-success {
    position: absolute;
    background-color: white;
    border-radius: 24px;
    max-width: 456px;
    top: -800px;
    margin: auto;
    left: 0;
    right: 0;
    box-sizing: border-box;
    transition: .5s;
    z-index: 11;
}
.modal-feedback-box {
    position: relative;
    padding: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}
.modal-feedback-header {
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 6px;
}
.modal-feedback-body {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.modal-feedback-body.success {
    padding: 150px 60px;
}
.success-text {
    width: 272px;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
}
.modal-feedback-body input {
    font-size: 18px;
    font-weight: 400;
    padding: 14px;
    border-radius: 8px;
    border: 1px solid #646160;
    outline: none;
}
.modal-feedback-body textarea {
    font-size: 18px;
    font-weight: 400;
    padding: 14px 222px 82px 14px;
    border-radius: 8px;
    border: 1px solid #646160;
    outline: none;
    resize: none;
}
.input-file {
    position: relative;
	display: inline-block;
    border: 1px dashed #646160;
    padding: 14px;
    border-radius: 8px;
}
.input-file span {
	position: relative;
	display: block;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	text-align: center;
	box-sizing: border-box;
    margin: 0;
}
.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}
.modal-feedback-buttom {
    background-color: var(--color-brown);
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    color: white;
    width: 100%;
    padding: 17px 0;
}
.modal-feedback-close {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 32px;
    right: 32px;
}
.close-svg {
    background-image: url(../svg/close.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    cursor: pointer;
}